.logo {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;

  color: var(--link-color);

  &--mobile {
    margin-left: 5px;

    @media screen and (min-width: 480px) {
      margin-left: 10px;
    }
  }

  &--footer {
    color: var(--pure-white);
  }

  &--flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 10px;
  }

  @media screen and (min-width: 480px) {
    font-size: 35px;
  }

  @media screen and (min-width: 768px) {
    font-size: 25px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 35px;
  }

  &--head {
    color: #071d66;

    @media screen and (min-width: 480px) {
      font-size: 25px;
    }

    @media screen and (min-width: 768px) {
      font-size: 15px;
    }

    @media screen and (min-width: 1024px) {
      font-size: 20px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 25px;
    }
  }
}

.point {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  color: #eea91e;

  @media screen and (min-width: 480px) {
    font-size: 35px;
  }

  @media screen and (min-width: 768px) {
    font-size: 25px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 35px;
  }
}

.logo--reset {
  margin-left: 0;
}
