body.modal-open {
  height: 100vh;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;

  z-index: 999;

  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);

  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;

  background-color: var(--pure-white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}

.modal--burger {
  margin-top: 52px;

  padding: 60px 5px 10px 0px;

  width: 80vw;
  height: 80vh;

  left: -100%;
  
  transition: left 0.5s var(--timing-function);

  @media (min-width: 480px) {
    margin-top: 62px;
  }

  @media (min-width: 768px) {
    margin-top: 72px;
  }

  @media (min-width: 1024px) {
    margin-top: 100px;

    width: 50vw;
  }

  @media (min-width: 1280px) {
    width: 40vw;
    height: 80vh;
  }

  @media (min-width: 1500px) {
    height: 85vh;
  }
}

.modal--crasoria {
  margin-top: 52px;

  padding: 60px 5px 10px 0px;

  width: 80vw;
  height: 80vh;

  right: -100%;
  
  transition: right 0.5s var(--timing-function);

  @media (min-width: 480px) {
    margin-top: 62px;
  }

  @media (min-width: 768px) {
    margin-top: 72px;
  }

  @media (min-width: 1024px) {
    margin-top: 100px;

    width: 50vw;
  }

  @media (min-width: 1280px) {
    width: 40vw;
    height: 80vh;
  }

  @media (min-width: 1500px) {
    height: 85vh;
  }
}

.modal--lot {
  padding: 60px 20px 20px 20px;
  
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms linear 50ms;

  width: 95vw;
  min-height: 250px;

  @media screen and (min-width: 480px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1024px) {
    width: 70vw;
  }

  @media screen and (min-width: 1280px) {
    width: 60vw;
  }
}

.modal--burger--secondary {
  height: 40vh;
}

.modal--crasoria--secondary {
  height: 35vh;
}

.modal--overflow {
  height: 70vh;
  overflow-y: auto;

  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 1280px) {
    height: 65vh;
  }

  @media (min-width: 1500px) {
    height: 75vh;

    overflow-y: scroll;
  }
}

.modal-secondary-over {
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.modal-open .modal--burger {
  left: 0;
}

.modal-open .modal--crasoria {
  right: 0;
}

.modal--crasoria-key {
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms linear 50ms;

  padding-top: 66px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 5px;

  width: 90vw;
  min-height: 333px;

  // @media screen and (min-width: 480px) {
  //   padding-top: 60px;
  // }

  // @media screen and (min-width: 768px) {
  //   padding-top: 25px;
  // }

  @media screen and (min-width: 1024px) {
    width: 70vw;
  }

  @media screen and (min-width: 1280px) {
    width: 40vw;
  }
}

// .modal--register,
// .modal--login {
//   top: 50%;
//   left: 50%;

//   transform: translate(-50%, -50%) scale(0.5);
//   transition: transform 250ms linear 50ms;

//   padding: 60px 20px 20px 20px;

//   width: 90vw;
//   min-height: 333px;

//   @media screen and (min-width: 480px) {
//     padding-top: 80px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 70vw;
//   }

//   @media screen and (min-width: 1024px) {
//     width: 40vw;
//   }
// }

.modal--basket {
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms linear 50ms;

  padding-top: 35px;
  padding-bottom: 130px;
  padding-left: 15px;
  padding-right: 5px;

  width: 90vw;
  min-height: 333px;
  
  @media screen and (min-width: 480px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 135px;
  }

  @media screen and (min-width: 1024px) {
    width: 70vw;
  }

  @media screen and (min-width: 1280px) {
    width: 60vw;
  }

}

.modal-open .modal--register,
.modal-open .modal--login,
.modal-open .modal--basket,
.modal-open .modal--lot,
.modal-open .modal--crasoria-key {
  transform: translate(-50%, -50%) scale(1);
}

.img-modal {
  position: absolute;

  height: auto;

  top: -50px;
  left: 50%;

  transform: translateX(-50%);
}

.crasoria-item {
    margin-top: 15px;
    height: 40vh;
    overflow: auto;
  }

  .travolta-crasoria {
    margin-top: 25px;
    height: 25vh;
  }