body.modal-open {
  height: 100vh;
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 999;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);

  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 2.5%;

  padding: 60px 20px 20px 20px;

  transform: scale(0.5);
  transition: transform 250ms linear 50ms;

  background-color: var(--pure-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);

  @media screen and (min-width: 480px) {
    padding: 75px 40px 30px 40px;

    background-size: contain;
  }

  &--search-padding {
    padding-top: 50px;
  }

  &--mobile-menu {
    width: 95vw;
    min-height: 230px;

    top: 30%;
  }
}

.modal-open .modal {
  transform: scale(1);
}

.modal--mobile-footer {
  padding: 60px 0 0 0;
}

.modal--menu {
  position: fixed;
  top: 13%;

  width: 95vw;
  min-height: 250px;
}

.modal--lot {
  position: fixed;
  top: 13%;

  width: 95vw;
  min-height: 250px;

  @media screen and (min-width: 480px) {
    top: 10%;

    padding-top: 60px;
  }

  @media screen and (min-width: 768px) {
    top: 10%;
  }

  @media screen and (min-width: 1024px) {
    left: 15%;
    width: 70vw;
  }

  @media screen and (min-width: 1280px) {
    top: 9%;
    left: 20%;
    width: 60vw;
  }
}

// .modal__form input::placeholder {
//   font-size: 13px;
//   font-weight: 600;

//   @media screen and (min-width: 480px) {
//     font-size: 16px;
//     font-weight: 600;
//   }
// }

.img-modal {
  position: absolute;

  height: auto;

  top: -11%;
  left: 50%;

  transform: translateX(-50%);

  &--menu {
    top: -50px;
  }

  &--lot {
    top: -50px;

    @media screen and (min-width: 768px) {
      top: -6%;
    }

    @media screen and (min-width: 1024px) {
      top: -8.5%;
    }

    @media screen and (min-width: 1024px) {
      top: -8%;
    }
  }

  &--order {
    top: -50px;
  }
}

[data-modal-search-menu],
[data-modal-mobile-menu],
[data-modal-main-menu] {
  @media screen and (min-width: 768px) {
    display: none;
  }
}