.section--position {
    @media screen and (min-width: 480px) {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.swiper {
    overflow: hidden;
    list-style: none;
    padding: 0;

    width: 100%;
    max-width: 1280px;

    @media screen and (min-width: 480px) {
        margin: 0 15px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        margin: 0 25px;
    }
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    transition-property: transform;
    transform: translate3d(0px, 0, 0);
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transition-property: transform;
}

// Ручная
.swiper-slide {
    box-sizing: content-box;
    border: 6px solid var(--link-color);
    border-radius: 19px;
    background-color: var(--link-color);
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
    transform-style: preserve-3d;
}

.tranding-slide {
    width: 240px;
    height: 160px;

    @media screen and (min-width: 480px) {
        width: 240px;
        height: 160px;
    }

    @media screen and (min-width: 1280px) {
        width: 300px;
        height: 200px;
    }
}

.tranding-slide .tranding-slide-img img {
    width: 240px;
    height: 160px;
    border-radius: 30px;

    @media screen and (min-width: 480px) {
        width: 240px;
        height: 160px;
    }

    @media screen and (min-width: 1280px) {
        width: 300px;
        height: 200px;
    }
}

// --------------------------------------
// Кнопки карусели
// --------------------------------------

.swiper-button--position {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 479px) {
        margin-top: 20px;   
    }

    @media screen and (min-width: 480px) {
        display: none;
    }
}

.swiper-button-next,
.swiper-button-prev {
    background: transparent;
    border: none;

    cursor: pointer;
}

.swiper-button-prev--position {
    @media screen and (max-width: 479px) {
        display: none;
    }
}

.swiper-button-next--position {
    @media screen and (max-width: 479px) {
        display: none;
    }
}

.swiper__icon {
    fill: #2e2e2e;;
    transition: fill 250ms var(--timing-function);

    &:hover,
    &:focus {
        fill: var(--link-color);
    }
}