.tranding-slide {
    border-radius: 20px;

    border: 6px solid var(--link-color);
    border-radius: 20px;

    background-color: var(--link-color);
}

.swiper--width {
    width: 270px;

    @media screen and (min-width: 400px) {
        width: 310px;
    }

    @media screen and (min-width: 1024px) {
        margin: 0;
    }
}

// --------------------------------------
// Кнопки слайдера лота
// --------------------------------------

.swiper-lot-buttons {
    display: flex;
    justify-content: space-around;

    margin-top: 10px;
}

.swiper-lot-button-next,
.swiper-lot-button-prev {
    background: transparent;
    border: none;

    cursor: pointer;
}

.swiper__icon {
    fill: var(--link-color);
    transition: fill 250ms var(--timing-function);
}

.slider__slogan {
    margin-bottom: 20px;

    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;

    @media screen and (min-width: 480px) {
        font-size: 20px;
    }

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 26px;
    }

    &--about-us {
        margin: 20px 0;
    }
}