.tranding-slide {
    border-radius: 20px;

    border: 6px solid var(--link-color);
    border-radius: 20px;

    background-color: var(--link-color);
}

// --------------------------------------
// Кнопки карусели
// --------------------------------------

// .swiper-button--position {
//     display: flex;
//     justify-content: space-around;

//     @media screen and (max-width: 479px) {
//         margin-top: 20px;   
//     }

//     @media screen and (min-width: 480px) {
//         display: none;
//     }
// }

// .swiper-button-next,
// .swiper-button-prev {
//     background: transparent;
//     border: none;

//     cursor: pointer;
// }

// .swiper-button-prev--position {
//     @media screen and (max-width: 479px) {
//         display: none;
//     }
// }

// .swiper-button-next--position {
//     @media screen and (max-width: 479px) {
//         display: none;
//     }
// }

// .swiper__icon {
//     fill: #2e2e2e;;
//     transition: fill 250ms var(--timing-function);

//     &:hover,
//     &:focus {
//         fill: var(--link-color);
//     }
// }

.slider__slogan {
    margin-bottom: 20px;

    text-align: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;

    @media screen and (min-width: 480px) {
        font-size: 20px;
    }

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 26px;
    }

    &--about-us {
        margin: 20px 0;
    }
}