.main-page-application-title {
    margin: 20px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.14;

    text-align: center;

    color: var(--secondary-link-color);

    @media screen and (min-width: 480px) {
        font-size: 24px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 30px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 34px;
    }
}

.secondary-page-application-title {
    margin: 30px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    color: var(--secondary-link-color);

    @media screen and (min-width: 480px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 22px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 20px;
    }
}

.application-title {
    margin: 20px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;

    text-align: center;

    @media screen and (min-width: 480px) {
        font-size: 20px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 26px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 30px;
    }

    &--color {
        color: var(--link-color);
    }
}

.secondary-application-title {
    margin: 30px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width: 480px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 22px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 20px;
    }
}

.title {
    font-weight: 900;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    width: 80%;

    color: var(--hero-text-color);

    &--license {
        text-align: center;
        color: var(--primary-text-color);

        width: 100%;
    }

    &--happy {
        color: #002147;
    }
}

@media screen and (min-width: 480px) {
    .title {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 33px;
    }
}

@media screen and (min-width: 1280px) {
    .title {
        font-size: 44px;

        width: 90%;

        &--license {
            width: 100%;
        }
    }
}