.filter {
  overflow-y: auto;
  
  width: 94vw;

  @media screen and (min-width: 330px) and (max-width: 767px) {
    min-height: 500px;
  }

  @media screen and (min-width: 355px) {
    width: 94.5vw;
  }

  @media screen and (min-width: 355px) {
    width: 95vw;
  }

  @media screen and (min-width: 410px) {
    width: 95.5vw;
  }

  @media screen and (min-width: 480px) {
    width: 92vw;
  }

  @media screen and (min-width: 550px) {
    width: 93vw;
  }

  @media screen and (min-width: 550px) and (max-width: 767px) {
    width: 94vw;
  }

  padding: 10px;

  position: absolute;
  z-index: 110;

  background-color: var(--pure-white);

  transform: translate(-110%, 50px);
  transition: transform 666ms var(--timing-function);

  @media screen and (max-width: 767px) {

    border: 5px solid #057198;
    border-radius: 10px;
  }

  &.is-open {
    transform: translate(0, 50px);

    @media screen and (min-width: 768px) {
      transform: translate(0);
    }
  }

  @media screen and (min-width: 768px) {
    position: static;
    transform: translate(0);

    max-width: 335px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 355px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 30px;
  }
}

// // ----------------------------------------
// // Форма поиска
// // ----------------------------------------

.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.14;
}

.search-disable {
    @media screen and (max-width: 767px) {
      display: none;
    }
}

.filter__search {
  display: flex;
  margin-top: 10px;
}

.filter__search input {
  padding: 0 13px;

  width: 230px;

  border: 2px solid var(--link-color);
  border-radius: var(--border-radius);

  @media screen and (min-width: 355px) {
    width: 100vw;
  }

  @media screen and (min-width: 768px) {
    width: 265px;
  }

  @media screen and (min-width: 1024px) {
    width: 285px;
  }

  @media screen and (min-width: 1280px) {
    width: 330px;
  }
}

.filter__search input::placeholder {
  font-size: 14px;
}

.filter__icon-search {
  fill: var(--link-color);
}

// // ----------------------------------------
// // Меню поиска
// // ----------------------------------------

.filter__menu {
  cursor: pointer;
  position: relative;

  overflow: hidden;
}

.filter-icon-title__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;

    @media screen and (min-width: 480px) {
      font-size: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 780px) {
      font-size: 16px;
    }

    @media screen and (min-width: 781px) {
      font-size: 18px;
    }
}

.filter-icon-title__secondary-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.14;

  @media screen and (min-width: 480px) {
      font-size: 16px;
    }

  @media screen and (min-width: 768px) and (max-width: 780px){
    font-size: 13px;
  }

  @media screen and (min-width: 781px) {
    font-size: 14px;
  }
}

.filter__secondary-list>li {
  margin-top: -2px;
  margin-left: 37px;
  padding: 10px;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.14;

  transition: transform 250ms var(--timing-function);

  @media screen and (min-width: 480px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) and (max-width: 780px) {
    font-size: 12px;
  }
}

.filter__list,
.filter__secondary-list {
  position: absolute;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;

  opacity: 0;

  transform: translateY(-170%);
  transition: transform 1000ms var(--timing-function);

  background-color: var(--pure-white);

  @media screen and (min-width: 1280px) {
    font-size: 14px;
  }
}

.filter__secondary-list {
  z-index: 80;

  &--index-75 {
    z-index: 75;
  }

  &--index-70 {
    z-index: 70;
  }
}

.filter-list__item {
  margin-left: 68px;
  padding: 10px;

  position: relative;
  z-index: 65;

  transition: transform 250ms var(--timing-function);

  &--padding {
    padding-bottom: 30px;
  }
}

.filter__secondary-menu {
  margin-left: 30px;
  margin-top: -2px;
}

.filter-list__item:hover,
.filter-list__item:focus,
.filter__secondary-list>li:hover,
.filter__secondary-list>li:focus {
  color: var(--link-color);

  font-weight: 700;
  transform: translateX(13px);
}

.js-filter-list-open {
  opacity: 1;
  transform: translateY(0);
  position: relative;
}

// // ----------------------------------------
// // Иконки
// // ----------------------------------------

.filter__icon-title-box {
  display: flex;
  align-items: center;

  padding: 10px;

  position: relative;
  z-index: 100;

  background-color: var(--pure-white);
}

.filter__secondary-icon-title-box {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 90;

  padding: 10px 0;

  background-color: var(--pure-white);
}

.filter__icon,
.filter__icon-open,
.filter__icon-secondary,
.filter__icon-secondary-open {
  margin-right: 10px;
}

.filter__icon,
.filter__icon-open {
  @media screen and (max-width: 1023px) {
    width: 60px;
    height: 60px;
  }
}

.filter__icon-secondary,
.filter__icon-secondary-open {
  @media screen and (max-width: 1023px) {
    width: 50px;
    height: 50px;
  }
}

.filter__icon-open,
.filter__icon-secondary-open {
  position: absolute;

  opacity: 0;
}

.js-icon-close {
  opacity: 0;
}

.js-icon-open {
  opacity: 1;
}

.mobile-filter {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-filter__title {
  margin-left: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
}