// // ----------------------------------------
// // Форма поиска
// // ----------------------------------------

.filter__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
}

.filter__search {
  display: flex;
  margin-top: 10px;
}

.filter__search input {
  padding: 0 13px;

  width: 620px;

  border: 2px solid var(--link-color);
  border-radius: var(--border-radius);
}

.filter__search input::placeholder {
  font-size: 14px;
}

.filter__icon-search {
  fill: var(--link-color);
}
