.section-hero {

  &--padding {
    padding-top: 52px;

    @media (min-width: 768px) {
      padding-top: 70px;
    }

    @media (min-width: 1024px) {
      padding-top: 100px;
    }
  }

  &--crasoria {
    padding-top: 40px;

    @media (min-width: 768px) {
      padding-top: 60px;
    }

    @media (min-width: 1024px) {
      padding-top: 80px;
    }
  }
}

.hero-index {
  position: relative;
}

.hero-index .title {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.hero-img {
  width: 100%;
  height: auto;

  @media (max-width: 767px) {
    content: url('../images/hero/hero-img-mobile_1.jpg');
  }

  &--crasoria {
    @media (max-width: 767px) {
    content: url('../images/hero/hero-img-mobile-crasoria_1.jpg');
  }
  }

  // @media (min-width: 1024px) {
  //   content: url('../images/hero/hero-img.jpg');
  // }
}

// @media screen and (min-width: 320px) and (max-width: 767px) {
//   .title {
//     font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (479 - 320)));
//   }
// }
