.section_search_shop--flex {
    display: flex;
}

.shop--margin {

    @media screen and (min-width: 768px) {
        margin-left: 30px;
    }
}

.application-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;

    @media screen and (min-width: 1024px) {
        font-size: 20px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 26px;
    }
}

.secondary-application-title {
    margin: 30px 0;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width: 1024px) {
        font-size: 18px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 20px;
    }
}

.cras-list {
    margin: -10px;
}

.cras-item {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;

    &--margin {
        margin: 10px;
    }
}

.cras-item__img {
    transform: translateY(50%);
    opacity: 0;
    transition: all 1000ms linear 500ms;

    @media screen and (max-width: 1024px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.cras-list .cras-item__img.appear {
    transform: translateY(0);
    opacity: 1;
}

.cras-item__element {
    display: flex;

    margin-bottom: 13px;
}

.cras-item__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width: 1280px) {
        font-size: 16px;
    }
}

.cras-item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    text-align: justify;

    color: #057198;

    &--margin {
        margin-left: 13px;
    }

    &--margin-sub {
        margin-bottom: 13px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
    }
}

.cras-item__text--font {
    font-size: 14.5px;
}

.cras-item__name {
    margin-bottom: 13px;

    &--margin {
        margin-bottom: 3px;
    }
}

// .cras-item--width {
//     @media screen and (min-width: 1280px) {
//         max-width: 565px;
//     }

//     @media screen and (min-width: 1382px) {
//         max-width: 660px;
//     }

//     @media screen and (min-width: 1500px) {
//         max-width: 780px;
//     }
// }

.cras-item__secondary-description {
    margin-bottom: 13px;
}
